body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    /* https://uigradients.com/#OrangeCoral */
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#root {
    height: 600px;
    width: 600px;
}
